@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.main_bg {
    background: rgb(149, 72, 50);
    background: linear-gradient( 95deg, #97377f 0%, #181e41 50%);
}

.btn_primary {
    background: rgb(183, 92, 255);
    background: linear-gradient( 193deg, rgba(183, 92, 255, 1) 15%, rgba(103, 26, 228, 1) 89%);
}

.btn_primary:hover {
    background: rgb(125, 51, 186);
    background: linear-gradient( 193deg, rgb(131, 65, 185) 15%, rgbargb(104, 55, 183));
}

.btn_primary_outline {
    background: transparent;
    border: 3px solid linear-gradient( 193deg, rgba(183, 92, 255, 1) 15%, rgba(103, 26, 228, 1) 89%);
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}